<header class="py-8 px-5p flex justify-between items-center">
    <a href="/index.html" class="inline-block">
        <h1 class="text-[2.5rem] font-philosopher uppercase mb-0"> Refined <span class="block text-[1.3rem] font-inter lowercase"> Island Creations </span></h1>
    </a>

    <nav class="flex justify-center items-center flex-wrap font-syne font-normal">
        <div class="hidden sm:block">
            <a href="" class="mr-20 header-cta"> Book A Call Today! </a>
        </div>

        <div class="hamburger-wrapper">
            <div class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="mobile-menu z-10">
            <nav>
                <a href="/services.html"> Services </a>
                <a href="/portfolio.html"> Portfolio </a>
                <a href="/process-pricing.html"> Process & Pricing </a>
                <a href="/about.html"> About </a>
                <a href="/contact.html"> Contact Us </a>
            </nav>
        </div>

    </nav>

</header>